**QUESTION-1**

Create a List L that is defined as = [10, 20, 30, 40, 50, 60, 70, 80].
1.   WAP to add 200 and 300 to L.
2.   WAP to remove 10 and 30 from L.
3. WAP to sort L in ascending order.
4. WAP to sort L in descending order.

In [ ]:
# Ques-01
List1 = [10,20,30,40,50,60,70,80]

List1 = List1 + [200,300]

List1.remove(10)
List1.remove(30)

List1.sort()
List1.sort(reverse = True)

print(List1)

[300, 200, 80, 70, 60, 50, 40, 20]

**QUESTION-2**

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
1.   Identify the highest score and its index in the tuple.
2.   Find the lowest score and count how many times it appears.
3.   Reverse the tuple and return it as a list.
4.   Check if a specific score ‘76’ (input by the user) is present in the  tuple and print its first occurrence index, or a message saying it’s not present.

In [ ]:
# Ques-02
score = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

print("Max Marks are:",max(score),"At Index:",score.index(max(score)))

print("Min Marks are:",min(score),"appears",score.count(min(score)),"number of times")

ListTuples = (list(score))
ListTuples.reverse()

num = int(input("Enter number: "))
flag = False
for i in score:
  if i == num:
    print(num,"is present in tuple")
    flag = True
if (flag == False):
  print(num,"is not present in tuple")

Max Marks are: 92 At Index: 5
Min Marks are: 45 appears 2 number of times
Enter number: 76
76 is present in tuple

**QUESTION-3**

WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
1. All odd numbers
2. All even numbers
3. All prime numbers

In [ ]:
# Ques-03
import random

List1 = [random.randint(100,900) for i in range(100)]
print(List1)

oddList = []
evenList = []
primeList = []

for i in List1:
  if(i % 2 == 0):
    evenList = evenList + [i]
  else:
    oddList = oddList + [i]

    flag = True;
    for j in range(3,i,2):
      if(i % j == 0):
        flag = False;
        break;

    if(flag == True):
      primeList = primeList + [i]

print("")
print("Total Odd Elements:",len(oddList),"->",oddList)
print("Total Even Elements:",len(evenList),"->",evenList)
print("Total Prime Elements:",len(primeList),"->",primeList)

[527, 379, 299, 817, 893, 335, 424, 241, 677, 680, 157, 769, 223, 784, 205, 249, 181, 327, 299, 481, 488, 520, 812, 228, 728, 797, 237, 223, 853, 566, 529, 859, 273, 669, 330, 898, 413, 692, 349, 596, 122, 476, 588, 801, 721, 360, 471, 436, 737, 805, 481, 882, 308, 394, 572, 839, 493, 122, 678, 683, 502, 800, 102, 673, 522, 476, 269, 347, 310, 101, 814, 832, 826, 274, 119, 544, 441, 364, 674, 319, 816, 544, 467, 434, 641, 664, 119, 281, 359, 864, 195, 113, 395, 899, 713, 786, 638, 759, 217, 800]

Total Odd Elements: 55 -> [527, 379, 299, 817, 893, 335, 241, 677, 157, 769, 223, 205, 249, 181, 327, 299, 481, 797, 237, 223, 853, 529, 859, 273, 669, 413, 349, 801, 721, 471, 737, 805, 481, 839, 493, 683, 673, 269, 347, 101, 119, 441, 319, 467, 641, 119, 281, 359, 195, 113, 395, 899, 713, 759, 217]
Total Even Elements: 45 -> [424, 680, 784, 488, 520, 812, 228, 728, 566, 330, 898, 692, 596, 122, 476, 588, 360, 436, 882, 308, 394, 572, 122, 678, 502, 800, 102, 522, 476, 310, 814, 832, 826, 274, 544, 364, 674, 816, 544, 434, 664, 864, 786, 638, 800]
Total Prime Elements: 23 -> [379, 241, 677, 157, 769, 223, 181, 797, 223, 853, 859, 349, 839, 683, 673, 269, 347, 101, 467, 641, 281, 359, 113]

**QUESTION-04**

Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}

WAP to perform the following operations using set functions:
  1. Find the unique scores achieved by both teams (union of sets).
  2. Identify the scores that are common to both teams (intersection of sets).
  3. Find the scores that are exclusive to each team (symmetric difference).
  4. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
  5. Remove a specific score X (input by the user) from set A if it exists.  If not, print a message saying it is not present.

In [2]:
# Ques-04

A = {34,56,78,90}
B = {78,45,90,23}

uniqueScores = A.union(B)
print(uniqueScores)

commonScores = A.intersection(B)
print(commonScores)

exclusiveScores = A.symmetric_difference(B)
print(exclusiveScores)

isSubset = A.issubset(B)
print(isSubset)

X = int(input("Enter the score: "))
if X in A:
  A.remove(X)
  print("Score Removed")
else:
  print("Score is not present")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
Enter the score: 45
Score is not present

**QUESTION-5**

Write a program to rename a key city to a location in the following dictionary.

In [ ]:
# Ques-05

dict1 = {"name" : "Kelly",
         "age" : 25,
         "salary" : 8000,
         "city" : "New York"}
# We cannot directly rename the key in dict1

dict1.pop("city")
dict1["location"] = "New York"

print(dict1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}